/* CUSTOMIZED STYLES */

/* GENERAL STYLING */


.row  .col-md-8 {
    background-color: #FBFFE4;
}


/* SIDE BAR */
#sidebar {
    background: #3D8D7A;
    color: white;
}



img {
    height: 150px;
    width: 150px; 
    margin-top: 30%;
    margin-left: 15%;
    border-radius: 50%;
    margin-bottom: 10%;
}

.intro-text, 
.profile, 
.skills { 
    font-size: 14px;
}

.sidebar-m {
    margin-left: 15%; 
    margin-bottom: 10%;
}

a {
    color: white;
    text-decoration: none;
}

h3 {
    margin-top: 10%;
    font-weight: 800;
}


/* MAIN SECTION AREA */

.main-section {
    display: grid;
    grid-template-rows:1fr 5fr; 
    grid-template-columns: auto;
    color: #3D8D7A;
}

.upper-section {
    background-color:#B3D8A8;  
}

hr {
    margin-bottom: 5%;
    border: 2px solid; 
}

h1 {
    font-weight: 800;
    margin-bottom:0.1rem ;
}

.main-m-lf {
    margin-left: 10%;
}

.main-p-lf {
    padding-left: 10%;
}

.name > p {
    margin-bottom: 3rem;
}

.summary {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 15px;
}

.lower-section > p {
    margin-bottom: 0;
}

.lower-section > h3 {
    margin-top: 0;
    background-color: #B3D8A8;
}

.job {
    display: flex;
    gap:30%;
}



.title {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
}

.title > p, .period > p{
    margin-bottom: 0;
}

.period {
    align-self: flex-end;
}

.italize {
    font-style: italic;
}

.mid-weight {
    font-weight: 600;
}

.title .italize, 
.period p, 
ul li, 
.edu-text {
    font-size: 15px;
}

.edu-text {
    padding-top: 5px;
    padding-bottom: 5px;
}







@media (max-width: 680px) {
    img {
        height: 100px;
        width: 100px;
    }
}
